<ion-header>
  <ion-toolbar>
    <ion-title>GotIT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>{{message.name | json}}</p>

  <ion-card id="flashcard" class="ion-justify-content-center">
    <ion-card-header>
      <ion-card-subtitle>fiszka nr <a id="id">{{FlashcardsAngular[0].Id}}</a></ion-card-subtitle>
      <ion-card-title class="ion-text-center">Kategoria : <a id="category">{{FlashcardsAngular[0].Category}}</a></ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      
      <p id="question">{{FlashcardsAngular[0].Question}}</p><br>
  
      <ion-button (click)="showAnswer()" size="small">Pokaż odpowiedź</ion-button><br><br>
  
      <p id="answer">{{FlashcardsAngular[0].Answer}}</p>
  
    </ion-card-content>
  </ion-card> 
  
 
  <ion-grid>
    <ion-row class="ion-justify-content-center" id="buttons">
    <ion-button (click)="remember()" class="buttons" color="success">Zapamiętane</ion-button>
    <ion-button (click)="nextQuestion()" class="buttons" color="warning">Na później</ion-button>
  </ion-row>
  </ion-grid>
 
  
  <ion-card id="end" >
    <ion-card-header>
    <ion-card-title class="ion-text-center">Gratulacje! Materiał opanowany!<br>
    <a href="/home">Powrót do kategorii</a>
    </ion-card-title>
    </ion-card-header>
  </ion-card>
  
</ion-content>



